# Core ML
torch==2.1.1
torchvision==0.16.1

# API
fastapi==0.108.0
uvicorn==0.25.0
python-multipart==0.0.6
pydantic==2.5.3

# Data processing
pillow==10.1.0
numpy==1.26.2

# MLOps
mlflow==2.9.2
boto3==1.34.10

# Utilities
python-dotenv==1.0.0
loguru==0.7.2
